<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/public/style.css">
    </head>
    <body>
        <header>Projects from class sep-nov 2019</header>

        {{{body}}}

        <footer>@filippoguida</footer>
    </body>
</html>
