<!doctype html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/public/style.css">
    </head>
    <body>
        {{{body}}}
        <footer>@filippoguida</footer>
    </body>
</html>
