* {
    box-sizing: border-box;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

a.current-project {
    font-weight: bolder;
    font-style: italic;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: pink;
}

header {
    text-align: center;
    padding: 25px;
    height: 100px;
}

main {
    display: flex;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    max-width: 570px;
    margin: auto;
}

.project img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
    margin-top: 10px;
}

.project {
    width: 190px;
    padding: 20px;
    white-space: nowrap;
    overflow: hidden;
}

#description * {
    margin: 10px;
    padding-right: 30%;
}

footer {
    height: 50px;
    margin: 15px;
    padding: 15px;
}
