.bigSqr {
    display: inline-flex;
    position: relative;
    background-color: var(--bc);
    width: 19vw;
    height: 19vw;
    margin: 2px;
}

.smallSqr {
    background-color: var(--bc);
    width: 50%;
    height: 50%;
    position: absolute;
    top: var(--t);
    left: var(--l);
}
