* {
    font-family: "Raleway", sans-serif;
    font-size: 12pt;
}

.repo {
    display: flex;
    margin: 60px;
}

.repo * {
    margin: 15px;
}

.repo img {
    width: 80px;
    height: 80px;
}

.repo:hover {
    background-color: rgba(0.2, 0.2, 0.2, 0.1);
}

.hidden {
    display: none;
}
