<div class="portfolio-container">
    {{#each projects}}
        <a href="{{this.directory}}/index.html">
            <div class="project">
                <p>{{this.title}}</p>
               <iframe src="{{this.directory}}/index.html"></iframe>
           </div>
       </a>
    {{/each}}
</div>
