<div class="portfolio-container">
    {{#each projects}}
       <div class="project">
           <p>{{this.title}}</p>
           <a href="{{this.directory}}/index.html">
               <iframe src="{{this.directory}}/index.html"></iframe>
           </a>
       </div>
    {{/each}}
</div>
