* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    position: relative;
    height: 400px;
    width: 600px;
    border: 2px solid black;
    overflow: hidden;
}

img {
    height: 400px;
    width: 600px;
    object-fit: center;
}

.top-image,
.bottom-image {
    position: absolute;
    overflow: hidden;
}

.slider {
    position: absolute;
    left: 295px;
    width: 10px;
    height: 400px;
    background-color: black;
}

.slider:hover {
    cursor: grab;
}
