main {
    display: flex;
}

.bigSqr {
    display: grid;
    grid-template: auto auto / auto auto;
    background-color: var(--bc);
    width: 19vw;
    height: 19vw;
    margin: 2px;
}

.smallSqr {
    grid-column-start: var(--c);
    grid-row-start: var(--r);
    background-color: var(--bc);
}
